.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#gh_btn_out{
  visibility: hidden;
}

li{
  list-style-type: none;
}

.search_result_li{
  border: 1px solid black;
  margin: 2em;
}

.block{
  display: block;
}